<p>Author {{quote.author}}</p>
<button (click)='quoteDelete(true)' class="btn btn-primary">Delete Quote</button>
<p>submitted by {{quote.submitter}} </p>
<p>submitted {{quote.submitTime|timeCount}} hours ago</p>
<div class="row">

    <div class="col-md-3">

        <p>
            <button class="btn btn-primary" on-click='addUpVotes()'>upvote {{quote.upvote}}</button>
        </p>

    </div>

    <div class="col-md-3">

        <p>
            <button class="btn  btn-primary" (click)='addDownVotes()'>downvote {{quote.downvote}}</button>
        </p>

    </div>

</div>