<p>Quote origin by {{quote.author}}</p>
<p>Quote submitted by {{quote.submitter}} </p>
<p>submitted {{quote.submitTime|timeCount}} hours ago</p>
<div class="row">

    <div class="col-6">

        <p>
            <button class="btn btn-sm btn-success" on-click='addUpVotes()'>Upvotes{{quote.upvote}}</button>
        </p>

    </div>

    <div class="col-6">

        <p>
            <button class="btn btn-sm btn-danger" (click)='addDownVotes()'>Downvotes{{quote.downvote}}</button>
        </p>

    </div>

</div>