<div class="jumbotron">

    <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>


</div>



<ol>

    <div *ngFor='let quote of quote ; let i= index'>

        <!-- <li appHighlight>{{quote.quote}}</li> -->
        <p appHighlight *ngIf="loopVote()===quote.upvote && quote.upvote>0"> {{quote.quote}} </p>
        <p *ngIf="loopVote()!==quote.upvote || quote.upvote===0">{{quote.quote}}</p>


        <button class="btn btn-danger" (click)='toogleDetails(i)'>Quote details</button>
        <div *ngIf='quote.showAuthor'>
            <app-quote-details [quote]='quote' (isDelete)='deleteQuote($event,i)'></app-quote-details>
        </div>



    </div>
</ol>